<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>Controller.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>Controller.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>Controller.registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServices</servlet-name>
        <servlet-class>Service.UserServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServ</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mediaServ</servlet-name>
        <servlet-class>Controller.mediaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catServ</servlet-name>
        <servlet-class>Controller.catServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>Controller.servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>Controller.ForgotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/RegisterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServices</servlet-name>
        <url-pattern>/UserServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServ</servlet-name>
        <url-pattern>/UserServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mediaServ</servlet-name>
        <url-pattern>/mediaServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catServ</servlet-name>
        <url-pattern>/catServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/ForgotServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           30
        </session-timeout>
    </session-config>
</web-app>
